<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>grainpit_stats</title>
    <style>
      body {
        background: black;
        font-family: monospace;
        color: white;
      }

      a {
        color: lightblue;
      }
    </style>
    <script type="text/javascript">
      async function addUser(username) {
        const statusElement = document.getElementById("status");
        const url = "/api/add_user";
        try {
          const response = await fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: (await cookieStore.get("key")).value,
            },
            body: JSON.stringify({ username }),
            mode: "same-origin",
          });
          if (!response.ok) {
            statusElement.textContent = `failed (request status ${response.status}), output: ${await response.text()}`;
          } else {
            statusElement.textContent = `success, key: ${await response.text()}`;
          }
        } catch (error) {
          console.error(error.message);
        }
      }
    </script>
  </head>
  <body>
    <h1>super fancy admin panel</h1>
    <hr />
    <h2>add new user</h2>
    <form action="javascript:addUser(username.value)">
      <input
        name="username"
        id="username"
        placeholder="username"
        type="text"
        autocomplete="off"
      />
      <br />
      <input type="submit" value="Submit" />
    </form>
    <p id="status"></p>
    <hr />
  </body>
</html>
