<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>grainpit_stats</title>
    <style>
      body {
        background: black;
        font-family: monospace;
        color: white;
      }

      a {
        color: lightblue;
      }
    </style>
    <script type="text/javascript">
      async function editUrls(urls) {
        const statusElement = document.getElementById("status");
        const url = "/api/edit_grainpit_urls";
        try {
          const response = await fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: (await cookieStore.get("key")).value,
            },
            body: JSON.stringify(urls.split("\n")),
            mode: "no-cors",
          });
          if (!response.ok) {
            statusElement.textContent = `failed (request status ${response.status}), output: ${await response.text()}`;
          } else {
            statusElement.textContent = "success";
          }
        } catch (error) {
          console.error(error.message);
        }
      }
    </script>
  </head>
  <body>
    <h1>hello {{ username }}</h1>
    <hr />
    <h2>edit grainpit urls</h2>
    <p>
      newline delimited urls (must have trailing slash) e.g.<br />
      https://foo.bar/<br />
      https://baz.qux/
    </p>
    <form action="javascript:editUrls(urls.value)">
      <textarea
        name="urls"
        id="urls"
        placeholder="urls here"
        rows="6"
        cols="80"
        autocomplete="off"
      >
{{ urls }}</textarea
      >
      <br />
      <input type="submit" value="Submit" />
    </form>
    <p id="status"></p>
    <hr />
    {% if admin ~%}
    <a href="/admin">go to admin panel</a>
    {%~ endif %}
  </body>
</html>
